[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhizhou (ZhizhouTian)
[access "refs/for/refs/*"]
	read = group user/zhizhou (ZhizhouTian)
	push = group user/zhizhou (ZhizhouTian)
	label-Code-Review = -2..+2 group user/zhizhou (ZhizhouTian)
	label-Verified = -1..+1 group user/zhizhou (ZhizhouTian)
	rebase = group user/zhizhou (ZhizhouTian)
	removeReviewer = group user/zhizhou (ZhizhouTian)
	submit = group user/zhizhou (ZhizhouTian)
[access "refs/heads/*"]
	read = group user/zhizhou (ZhizhouTian)
	create = group user/zhizhou (ZhizhouTian)
	push = +force group user/zhizhou (ZhizhouTian)
	pushMerge = group user/zhizhou (ZhizhouTian)
[access "refs/tags/*"]
	push = +force group user/zhizhou (ZhizhouTian)
	pushTag = group user/zhizhou (ZhizhouTian)
	pushSignedTag = group user/zhizhou (ZhizhouTian)
[project]
	description = Linux stable
[receive]
	requireChangeId = true
	requireSignedOffBy = true
[submit]
