[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZhizhouTian
[access "refs/for/refs/*"]
	read = group user/ZhizhouTian
	push = group user/ZhizhouTian
	label-Code-Review = -2..+2 group user/ZhizhouTian
	label-Verified = -1..+1 group user/ZhizhouTian
	rebase = group user/ZhizhouTian
	removeReviewer = group user/ZhizhouTian
	submit = group user/ZhizhouTian
[access "refs/heads/*"]
	read = group user/ZhizhouTian
	create = group user/ZhizhouTian
	push = +force group user/ZhizhouTian
	pushMerge = group user/ZhizhouTian
[access "refs/tags/*"]
	push = +force group user/ZhizhouTian
	pushTag = group user/ZhizhouTian
	pushSignedTag = group user/ZhizhouTian
